* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container {     
    min-height: 100vh;  
    width: 100%;    
    display: flex;    
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);     
}

.cards {    
    max-width: 350px;
    min-height: 50vh;
    margin: 10px;    
    box-shadow: 1px 1px 5px;  
    border-radius: 10px;     
    background: #2c5364;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.cards:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }
}

.div-text span {
    font-size: 25px;
    font-weight: bold;
}

p {
    font-size: 14px;
    font-style: italic;
    font-weight: lighter;
}

.div-text {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 30px;
    align-items: center;
    text-align: center;    
    color: #e9e4f0;
}

.btn {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #2c5364;
      
}

.btn:hover:active {
    transform: scale(0.98);
    box-shadow: 0 4px 15px 0 rgba(23, 28, 34, 0.75);
}
